body{
    background-color: rgba(106, 142, 35, 0.648);
}
header{
    color: white;
}
h1{
    background-color: green;
    margin-top: 0;
    margin-bottom: 0;
}
nav{
    background-color: green;
    margin-top: 0;
    margin-bottom: 0;
}
a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}
p{
    color: black;
}
a.submission{
    color:black
}
img.responsive{
    max-width: 100%; 
    max-height: 300px; 
    display: block; 
    margin: auto; 
    float: left;
}
img.responsiv{
    max-width: 100%; 
    max-height: 300px; 
    display: block; 
    margin: auto; 
}
img{
    padding: 10px;
}
footer{clear: both;}
h3{clear: both;}
figcaption{text-align: center;}
figure{display: inline-flex;
align-items: center;}